<tr>
  <td data-controller="local-time" class="px-6 py-4 whitespace-nowrap text-sm">
    <%= Time.now.utc.iso8601 %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
    <%= @job.queue %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
    <%= @job.latency %> milliseconds
  </td>
</tr>
